{% extends "base.html" %}

{% block title %}Greenblog news{% endblock %}

{% block content %}

	{% if failedLoginValue %}
	
		<p>Login failed, have you <a href="/reset_password.html">forgotten your password?</a></p>
	
	{% endif %}

	<h1>Login</h1>

	<form id="login_form" method="post">
	
			<b>Admin </b><br/><input type="text" name="user" /><br/>
				
			<b>Password </b><br/><input type="password" name="password" /><br/>
		
			<input onclick="GREENBLOG.insertHashedPassword('login_form',true);" value="Login" type="submit" class="button" />
		
	</form>

{% endblock %}